body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    /* background-image: linear-gradient( to bottom right,#8E7DBE, #E6F14A); */
    background-image: linear-gradient(to right, #EADEDB 0%, #BC70A4 50%, #D88C9A 75%);
}
html, body {
  margin: 0;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}
ul {
  list-style: none;
}

* {
  font-family: 'Courier New', Courier, monospace;
}